<div class="modal-header">
    <button type="button" class="close" ng-click="cancel($event)">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
    <div id="modal-json-editor" ui-ace="{
        useWrapMode: true,
        onLoad: aceLoaded
    }"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Ok</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
