<div ng-controller="ContainerController">

    <div class="pull-right">
        <div class="dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-click="start()">
                    <a role="menuitem" tabindex="-1" href="">Start</a>
                </li>
                <li role="presentation" ng-click="stop()">
                    <a role="menuitem" tabindex="-1" href="">Stop</a>
                </li>
                <li role="presentation" ng-click="kill()">
                    <a role="menuitem" tabindex="-1" href="">Kill</a>
                </li>
                <li role="presentation" ng-click="restart()">
                    <a role="menuitem" tabindex="-1" href="">Restart</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" ng-click="showLogs()">
                    <a role="menuitem" tabindex="-1" href="">Show Logs</a>
                </li>
                <li role="presentation" ng-click="showInfo()">
                    <a role="menuitem" tabindex="-1" href="">Show Info</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" ng-click="remove(false)">
                    <a role="menuitem" tabindex="-1" href="">Remove</a>
                </li>
                <li role="presentation" ng-click="remove(true)">
                    <a role="menuitem" tabindex="-1" href="">Remove (force)</a>
                </li>
            </ul>
        </div>
    </div>

    <p>
        <span ng-repeat="name in container.Names">
            <label>{{ name }}</label>
            {{ $last ? '' : ' ' }}
        </span> <br/>
        {{ container.Image | dockerImageName }} <br/>
        {{ container.Status }}
    </p>

    <span ng-repeat="port in container.Ports">
        <span class="dropdown">
            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                {{ port.PublicPort }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">Private: {{ port.PrivatePort }}</li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" ng-click="launchTool('sync', port)">
                    <a role="menuitem" tabindex="-1" href="">Sync</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="https://{{ host.network.public_ip }}:{{ port.PublicPort }}" target="_blank">Launch (https)</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="http://{{ host.network.public_ip }}:{{ port.PublicPort }}" target="_blank">Launch (http)</a>
                </li>
            </ul>
        </span>
        {{ $last ? '' : ' ' }}
    </span>

</div>
